

//footer


//end footer

.navbar-brand{
    margin-top: 15px;
}


.container-fluid{
    width: 91%;
    background-image: linear-gradient(90deg,#258fc9, #f2fcfe);

}


.icon-sun{
    color: orange;
}

.text-orange{
    color: orange;
}

.basic{
    border: 2px black solid;
    border-radius: 5px;
    font-size: 1.2rem;
}

.day{
    max-height: 450px;
    border: 2px black solid;
    border-radius: 5px;
}

.droplet{
    color: #258fc9;
}

// #day0-panel{
//     &:hover{
//         cursor: pointer;
//     }
// }

// #day1-panel{
//     &:hover{
//         cursor: pointer;
//     }
// }

.tooltip{
    font-size: 2rem;
}