

.container-fluid{
    width: 90%;
}

.icon-sun{
    color: orange;
}

.text-orange{
    color: orange;
}

.day{
    height: 300px;
}

.droplet{
    color: #258fc9;
}

// #day0-panel{
//     &:hover{
//         cursor: pointer;
//     }
// }

// #day1-panel{
//     &:hover{
//         cursor: pointer;
//     }
// }

.tooltip{
    font-size: 2rem;
}